.container {
    width: 100%;
    padding: 1rem 2rem;
}

.inner-form-container {
    padding: 0.5rem;
    border: 0.5px solid var(--color-gray-900);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-input {
    width: 100%;
    background: transparent;
    border: none;
    resize: none;
    color: var(--color-text);
    margin-bottom: 8px;
    overflow: hidden;
}

.text-input:focus {
    outline: none;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer button {
    color: var(--color-text);
    display: flex;
    align-items: center;
}

.file-btn {
    font-size: 1.5rem;
}

.submit-btn {
    font-size: 1rem;
}

.submit-btn.active {
    background: var(--color-accent);
    border-radius: 4px;
    color: white;
    padding: 2px 8px;
}

.submit-btn:disabled {
    color: #a3a3a370;
    cursor: default;
}
