.container {
    z-index: 999;
    background: white;
    padding: 36px;
    border-radius: 16px;
    position: relative;
}

.close {
    position: absolute;
    top: 8px;
    right: 8px;
    background: transparent;
    font-size: 1.5rem;
    color: #707070;
    display: flex;
    align-items: center;
    padding: 0;
}
