.container {
    z-index: 999;
    background: rgb(190, 187, 187);
    padding: 36px;
    border-radius: 16px;
    position: relative;
}

.container.isLocal {
    position: absolute;
    top: 0;
    left: 0;
}

.close {
    position: absolute;
    top: 8px;
    right: 8px;
    background: transparent;
    font-size: 1.5rem;
    color: #707070;
    display: flex;
    align-items: center;
    padding: 0;
}

.content-title {
    color: #252525;
    font-size: 1rem;
    margin: 16px 0;
}

.content-buttonBox {
    display: flex;
    justify-content: center;
    gap: 8px;
}
