@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import './reset.css';

:root {
    --color-bg: #fdfffd;
    --color-bg-dark: white;
    --color-white: white;
    --color-text: #1d2026;
    --color-gray-900: #1d2026;
    --color-accent: #ff6636;
    --color-btn-hover: #1d202610;
    --color-bg-side: #ffece9;
}

* {
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    box-sizing: border-box;
}

#app {
    background: var(--color-bg);
    color: var(--color-text);
    height: 100vh;
}

#app.dark {
    --color-bg: #1d2026;
    --color-bg-dark: #191b20;
    --color-text: white;
    --color-gray-900: white;
    --color-btn-hover: #ffffff10;
    --color-bg-side: #191b20;
}

#app .container {
    margin: 0 auto;
    max-width: 1060px;
    padding: 0 20px;
}
